* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #BC162A;
  color: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  transition: all .3s cubic-bezier(.77,0,.175,1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overscroll-behavior: none;
  width: 100%;
  z-index: 1;
}

body::after {
  animation: grain 6s steps(10) infinite;
  background-image: url(../static/bg/grain.png);
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -100%;
  opacity: 0.07;
  pointer-events: none;
  position: fixed;
  top: -100%;
  width: 300%;
  will-change: transform;
  z-index: 50;
}

@keyframes grain {
  0% {
      transform:translate(20%, -15%)
  }

  10% {
      transform:translate(-20%, -15%)
  }

  20% {
      transform:translate(20%, -5%)
  }

  30% {
      transform:translate(-20%, -5%)
  }

  40% {
      transform:translate(20%, 5%)
  }

  50% {
      transform:translate(-20%, 5%)
  }

  60% {
      transform:translate(20%, 15%)
  }

  70% {
      transform:translate(-20%, 15%)
  }

  80% {
      transform:translate(20%, 5%)
  }

  90% {
      transform:translate(-20%, 5%)
  }

  to {
      transform:translate(20%, -5%)
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9EBBB;
  transform: translate(-50%, -50%);
}

.cursor-text {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.navLink {
  position: relative;
  text-decoration: none;
}

.navLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #F9EBBB;
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.rotating {
  animation: rotating 10s linear infinite;
}


@-webkit-keyframes rotating {
  0% {
      -webkit-transform: rotate(0);
      transform:rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg)
  }
}

@keyframes rotating {
  0% {
      -webkit-transform: rotate(0);
      transform:rotate(0)
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

.loader {
  width: 150px;
  height: 1px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.loader::after {
  content: '';  
  width: 50px;
  height: 1px;
  background: #F5E1A4;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
    
.reveal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-text {
  color: rgba(254, 248, 220, .2);
}

.bg-noise {
  background: url(../static/bg/bg-noise.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-noise-manifesto {
  background: url(../static/bg/bg-noise-right.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slider{
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.slider-manifesto-live, .slider-manifesto-club{
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.slider .text-slider{
  position: relative;
  color: #F9EBBB;
}

.slider-manifesto-live .text-slider-manifesto-live {
  position: relative;
  margin: 0px;
  color: #F9EBBB;
}

.slider-manifesto-live .text-slider-manifesto-live-2{
  position: relative;
  margin: 0px;
  color: #F9EBBB;
}

.slider-manifesto-club .text-slider-manifesto-club{
  position: relative;
  margin: 0px;
  color: #F9EBBB;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F9EBBB;
}

.gallery {
	height: 175vh;
	overflow: hidden;
	background: black;
}

.gallery .galleryWrapper {
	position: relative;
	top: -12.5vh;
	height: 200vh;
	display: flex;
	gap: 2vw;
	padding: 2vw;
}

.gallery .galleryWrapper .column {
	position: relative;
	height: 100%;
	width: 25%;
	min-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	white-space: nowrap;
}

.gallery .galleryWrapper .column .imageContainer {
	position: absolute;
	height: 33%;
	width: 100%;
	position: relative;
	border-radius: 0vw;
	overflow: hidden;
}

.gallery .galleryWrapper .column .imageContainer img {
	object-fit: cover;
}

.gallery .galleryWrapper .column:nth-of-type(1) {
	top: -30%;
}

.gallery .galleryWrapper .column:nth-of-type(2) {
	top: -70%;
}

.gallery .galleryWrapper .column:nth-of-type(3) {
	top: -30%;
}

.gallery .galleryWrapper .column:nth-of-type(4) {
	top: -60%;
}

.spacer {
	height: 100vh;
}

.stroke-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F9EBBB;
}

.stairs{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  height: 100%;
  display: flex;
  transition: all 1s;
  pointer-events: none;
}

.stair{
  width: 20vw;
  height: 100%;
  background-color: black;
}

.background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.full-screen-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
}

.full-screen-submenu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.nav-shadow {
  box-shadow: 0px 4px 16px rgba(17,17,26,0.3), 0px 8px 24px rgba(17,17,26,0.3), 0px 16px 56px rgba(17,17,26,0.3);
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-gap: 10px;
}

.summary-grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 0px;
}

.burger {
  width: 40px;
  position: relative;
  pointer-events: none;
}

.burger::after, .burger::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #F9EBBB;
  position: relative;
  display: block;
  transition: all .75s cubic-bezier(0.76, 0, 0.24, 1);
}

.burger::after {
  top: -4px;
}

.burger::before {
  top: 4px;
}

.burgerActive::after {
  top: -1px;
  background-color: transparent;
}

.burgerActive::before {
  top: 1px;
  z-index: 3;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-text {
  font-family: "Roobert";
  font-weight: 300;
  font-size: 18px;
}

.menu-text:nth-of-type(2) {
  position: absolute;
  opacity: 0;
}

.nav-char-text {
  color: #F9EBBB;
  font-weight: 400;
  font-size: 54px;
}

.discover-header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #BC162A;
}

.discover-title {
  color: #F9EBBB;
  font-family: "Roobert";
  font-weight: 300;
  font-size: 20em;
  z-index: 1;
  margin: 0;
  white-space: nowrap;
  margin-top: auto;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  transform-origin: bottom;
  z-index: 4;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  transform-origin: top;
  z-index: 4;
}

.project{
  padding-top: .8vw;
  padding-bottom: .8vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .thumbnail-text{
  margin: 0px;
}

.project .thumbnail-text:nth-of-type(1){
  margin-right: 0.75vw;
}

.project .thumbnail-text:nth-of-type(2){
  margin-left: 0.75vw;
}

.project:last-of-type{
  border-bottom: 1px solid #F9EBBB;
}

.project .imgContainer{
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}

.project img{
  width: 10vw;
}

.scroll-section-outer {
  overflow-x: hidden;
}

.scroll-section-inner {
  height: auto;
  width: 500vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.scroll-manifesto-title {
  display: block;
}

.manifesto video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  object-fit: contain;
  border: none;
  box-sizing: border-box;
}
